{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block content %}
    {% set hash = {"a": "foo", "b": "bar"} %}
    {% set array = ['foo','bar'] %}
    {% for item in hash %}
        {{ item }}
    {% endfor %}
    <br /><br />
    {% for item in array %}
        {{ item|title }}
    {% endfor %}
{% endblock %}