{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block content %}
    <ul>
    {% for item in list %}
        <li style="color: {{ cycle(['red', 'blue'], loop.index) }}">
            {{ item }}
            {{ loop.index % 5 ? '': ' (Weer 5)'}}
            {{ loop.last ? ' Laatste'|upper : '' }}
        </li>
    {% endfor %}
    </ul>
{% endblock %}